version: "3.9"
services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_DB: true_anomaly
      POSTGRES_USER: true_anomaly
      POSTGRES_PASSWORD: true_anomaly
    ports:
      - "55432:5432"   # host:container
  opensearch:
    image: opensearchproject/opensearch:2.11.0
    environment:
      discovery.type: single-node
      OPENSEARCH_JAVA_OPTS: "-Xms512m -Xmx512m"
    ports:
      - "9200:9200"
  neo4j:
    image: neo4j:5
    environment:
      NEO4J_AUTH: neo4j/password
    ports:
      - "7474:7474"
      - "7687:7687"
